/*      Fuentes     */
@font-face {
    font-family: texto_titulos;
    src: url(../fuentes/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: texto_general;
    src: url(../fuentes/Lato-Black.ttf);
}



/*      Cuerpo general de la pagina     */
body {
    font-family: texto_titulos;
    color: #333;
    margin: 0;

}

/*      Cabezera de la pagina       */
header {
    background: #000;
    color: #fff;
    padding: 10px 0;
}

/*      Barra de navegación*/

.barranav {
    justify-content: center;
    display: flex;
}

.barranav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 14px 20px;
}

.barranav a:hover {
    background-color: rgba(235, 15, 15, 0.568);
}


/*      Seccion principal       */

.hero {
    background-image: url('../img/prueba1.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: #fff;
    position: relative;
}

.hero h1 {
    font-size: 60px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 75%;

}

.bandera {
    background-image: url(../img/meta.png);
    margin-bottom: 300px;
    height: 100px;
}

/*      Titulos generales       */

.titulos {
    font-size: 60px;
    text-align: center;
}

/*      Secciones       */

.secciones {
    display: flex;
    margin: 15px;
}

/*      Recuadros despues de la seccion principal        */
.post-hero {
    text-align: center;
    margin: 50px;
    padding: 20px;
    border: #000 5px solid;
    border-radius: 8%;
    width: 30%;
}

/*      Espacios        */

.espacio {
    margin-bottom: 300px;
}

/*      Galeria     */

.columnas-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-galeria {
    margin: 10px;
    width: 900px;
    height: 700px;
}

/*      Videos      */

.video1 {
    float: left;

}

.video2 {
    float: left;

}

.videos-galeria {
    margin: 10px;
    width: 900px;
    height: 700px;
}

.video-youtube {
    margin-top: 105px;
    margin-left: 20px;
}

/*      Texto       */

.texto {
    font-family: texto_general;
    font-size: 1.2em;
    margin-left: 145px;
    margin-right: 145px;

}

/*      Interesado en correr        */

.interesado-correr {
    text-align: center;
}

/*      Boton       */

.boton {
    font-family: texto_general;
    padding: 10px 10px;
    background-color: rgb(255, 152, 152);
    box-shadow: 6px 10px 10px black;
}

.boton:hover {
    background-color: #ec6c6c;
    box-shadow: 6px 6px 6px black;
}

/*      Footer      */



footer {
    color: #000000;
    font-size: 20px;
    padding: 20px;
    margin: 20px;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-info,
.footer-redes-sociales {
    border: 4px solid #000000;
    margin: 10px;
    background-color: #adabab;
    text-align: center;
}

.columnas-redes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}

.footer-info h3,
.footer-redes-sociales h3 {
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
    font-family: titulo;
    font-size: 1.6em;
}

.footer-info p {
    font-family: texto;
}

.columnas-info {
    display: flex;
    margin: 30px;

}

.mapa {
    margin-left: 70px;
}