/*      Fuentes     */
@font-face {
    font-family: texto_titulos;
    src: url(../fuentes/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: texto_general;
    src: url(../fuentes/Lato-Black.ttf);
}

body {
    font-family: texto_general;
    background-image: url(../img/galeria\ 4.jpg);
    background-position: center;

}

#wrapper {
    background-color: #949494;
    margin: 100px;
}

/*      Cabezera de la pagina       */
header {
    background: #000;
    color: #fff;
    padding: 10px 0;
}

/*      Barra de navegación*/

.barranav {
    justify-content: center;
    display: flex;
}

.barranav a {
    font-size: 20px;
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
}

.barranav a:hover {
    background-color: rgba(235, 15, 15, 0.568);
}

/*      Titulos     */
.titulos {
    font-size: 30px;
    text-align: center;
    font-family: texto_titulos;
}

/*      Listas y tablas     */

h2 {
    color: #333;
    margin-bottom: 10px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
}

table,
th,
td {
    border: 1px solid #000000;

}

th,
td {
    padding: 10px;
    text-align: left;

}

th {
    background-color: #bd8787;

}

tbody tr:hover {
    background-color: #eaeaea;
}


/*      Espacio     */
.espacio {
    margin-bottom: 300px;
}

/*      Footer      */

footer {
    color: #000000;
    font-size: 20px;
    padding: 20px;
    margin: 20px;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-info,
.footer-redes-sociales {
    border: 4px solid #ff5858;
    margin: 10px;
    background-color: #000000;
    text-align: center;
}

.columnas-redes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-info h3,
.footer-redes-sociales h3 {
    border-bottom: 2px solid #ff5858;
    padding-bottom: 10px;
    font-family: titulo;
    font-size: 1.6em;
    color: #fff;
}

.footer-info p {
    font-family: texto;
    color: #fff;
}